@model IEnumerable<PañaleraValentino.Models.Ventas>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Index</h2>

<div class="row">
    <div class="col-lg-9">
        <h2>Index</h2>
    </div>
    <div class="col-lg-2">
        <p><a class="btn btn-primary btn-lg" href="/Ventas/Crear" role="button">Crear Nueva Venta</a></p>
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-heading">Lista De Ventas</div>

    <table class="table">
        <thead>
            <tr>
                <th>IdVenta</th>
                <th>Fecha</th>
                <th>Precio</th>
                <th>Descuento</th>
                <th>IVA</th>
                <th>Total</th>
            </tr>

        </thead>
        @foreach (var ven in Model) {
            <tr>
                <td>@ven.IdVenta</td>
                <td>@ven.Fecha</td>
                <td>@ven.Precio</td>
                <td>@ven.Descuento</td>
                <td>@ven.IVA</td>
                <td>@ven.Total</td>

                

                <td><a class="btn btn-primary btn-lg" href="/Ventas/Editar/@ven.IdVenta" role="button">Editar</a></td>
                <td><a class="btn btn-primary btn-lg" href="/Ventas/Detalles/@ven.IdVenta"target="_blank" role="button">Detalles</a></td>
                <td><a class="btn btn-primary btn-lg" href="/Ventas/Eliminar/@ven.IdVenta" role="button">Eliminar</a></td>
            </tr>

        }


    </table>



</div>